# Cache crap that Valve autogenerates
*.bin

# Compiled formats
*.vagrp_c
*.vanim_c
*.vcss_c
*.vjs_c
*.vmat_c
*.vpcf_c
*.vsndevts_c
*.vtex_c
*.vxml_c
*.vcss_c
*.vmdl_c
*.vmesh_c
=======

# Map files
# *.vpk

# Map overviews
# content/dota_addons/dotacraft/materials/overviews/*
# game/dota_addons/dotacraft/materials/overviews/*
# game/dota_addons/dotacraft/resource/overviews/*

#Github dump
*.stackdump