@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.OverthrowLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
}

#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#OverthrowIcon
{
	width: 80px;
	height: 80px;
	vertical-align: center;
	margin-right: 15px;
}

#DotLTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	text-transform: uppercase;
	font-size: 80px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.SeqBg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#seq
{
    overflow: clip;
	pre-transform-scale2d: 1.35, 1.35;
}

@keyframes 'x' {}

#seq_bg
{
	animation-name: seq_bg_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
    margin-left: 0px;
}

@keyframes 'seq_bg_anim'
{
	0%
	{
	}

	100%
	{
	}
}
