@define BACKGROUND_COLOR: #000000;
@define BACKGROUND_COLOR_WHITE: #FFFFFF28;

.FlyoutScoreboardRoot
{
	horizontal-align: center;
	vertical-align: center;
	background-image: url( "file://{images}/custom_game/flyout_scoreboard/clarity_flyout_scoreboard_background.png" );
	background-size: 100%;

	width: 985px;
	height: 408px ;
    transform: translatey( 1000px );
    transition-property: transform;
    transition-duration: 0s;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
    transform: translatey( 0px ) translatex( 0px );
}

.TeamScorePanel
{
	width: 100%;
	height: 51px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	z-index: 2;
}

/*==============================Team Scores===================================*/

#TowerB
{
	horizontal-align: center;
	vertical-align: center;
	position: -25% 0px 0px;
}

#TowerScoreB
{
	vertical-align: center;
	horizontal-align: right;
	color: #0099e0;
	font-size: 26px;
	position: -72.4% 2px 0px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
}

#TeamScoreB
{
	vertical-align: center;
	horizontal-align: right;
	color: #0099e0;
	font-size: 35px;
	position: -51.5% 0px 0px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
}

#Sword
{
	horizontal-align: center;
	vertical-align: center;
}

#TeamScoreR
{
	vertical-align: center;
	horizontal-align: left;
	color: #cc0000;
	font-size: 35px;
	position: 51.4% 0px 0px;
	text-shadow: 2px 2px 2px black;
}


#TowerR
{
	horizontal-align: center;
	vertical-align: center;
	position: 25% 0px 0px;
}

#TowerScoreR
{
	vertical-align: center;
	horizontal-align: left;
	color: #cc0000;
	font-size: 26px;
	position: 76.3% 2px 0px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
}

/*==============================Team Scores===================================*/
/*==============================Player Stats==================================*/

#TeamsContainer
{
	vertical-align: top;
	horizontal-align: center;

	margin-top: 68px;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 13px;
    flow-children: right;
    horizontal-align: center;
    vertical-align: top;
    width: 100%;
    height:100%;
    /*background-color: #FF00FF;*/
    opacity: 0.5;
}

.FlyoutTeam
{
	flow-children: down;
}

.ScoreCol_TeamScore
{
	z-index: 1;
}

.separator{
	horizontal-align:center;
	transform: translatey( 59px );
	z-index: 99;
	width:5%;
	height:20px;
}  

.FlyoutTeam.no_players
{
	visibility: collapse;
}

.local_player_team.FlyoutTeam
{
	z-index: 99;
}

.FlyoutTeamData
{

	transform: translatey(4px);
	margin-left: 12px;
    flow-children: right;
    width:472px;
    height:400px ;
    background-color: #00FF00;
    opacity:1;
}

.FlyoutPlayer
{ 
    flow-children: right;
}

.TeamCloseSpacer
{
}

#PlayersContainer
{
    flow-children: down;
    background-color: #0000FF;
}

.local_player_team #PlayersContainer
{
    box-shadow: fill #ffffff40 -3px -3px 3px 6px;
}

.TeamId
{
    flow-children: right;
}

#TeamLogo
{
	vertical-align: top;
	horizontal-align: right;
    height: 30px;
    width: 30px;
	margin-top: 2px;
	margin-right: 2px;
}

#TeamScore
{
	vertical-align: center;
	horizontal-align: center;
	color: #cccccc;
	font-size: 42px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	text-overflow: clip;
}

.one_player #TeamScore
{
	font-size: 32px;
}

.PlayerRow
{
	height: 32px;
}

#PlayerRowContainer
{
	flow-children: right;
	height: 32px;
}

#HeroIcon
{
    vertical-align: middle;
	border: 1px solid black;
}

#LevelContainer,
#KillsContainer,
#DeathsContainer,
#AssistsContainer
{
	height: 100%;
}

.ScoreboardPanel
{
    background-color: BACKGROUND_COLOR;
	margin-top: 1px;
	margin-left: 1px;
}

.LegendPanel
{
	margin-top: 1px;
	margin-left: 1px;
}

.is_local_player .ScoreboardPanel
{
//    background-color: BACKGROUND_COLOR_WHITE;
}

.ScoreboardPanel Label
{
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
}

.UltimateIndicatorShared
{
	margin-left: 44px;
	margin-top: 2px;
	vertical-align: center;
	width: 20px;
	height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Level
{
	vertical-align: center;
	horizontal-align: center;
	color: #898b8c;
}

#Kills,
#Deaths,
#Assists
{
	vertical-align: center;
	font-size: 18px;
	text-align: center;
	margin-top: 3px;
	width: 100%;
}

#PlayerName
{
	color: white;
	font-size: 14px;
	margin-bottom: -4px;
	margin-top: 0px;
	white-space: nowrap;
}

#HeroNameAndDescription
{
	color: #898b8c;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
	margin-top: -1px;
}
#MuteButton
{
	margin-right: 0px;
	margin-top: 0px;
	horizontal-align: right;
	vertical-align: top;
	width: 18px;
	height: 18px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url( "file://{images}/custom_game/button_audio_on.psd" );
	visibility: collapse;
	opacity: 0.8;
}

.local_player_teammate #MuteButton
{
	visibility: visible;
}

#MuteButton:hover
{
	opacity: 1;
}

.player_muted #MuteButton
{
    background-image: url( "file://{images}/custom_game/button_audio_off.psd" );
}

#TeammateGoldAmount
{
	margin-right: -1px;
	margin-bottom: -2px;
	vertical-align: bottom;
	horizontal-align: right;
	color: #ffd300;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
	visibility: collapse;
}

.local_player_team #TeammateGoldAmount
{
	visibility: visible;
}

#PlayerDetailsContainer
{
	height: 100%;
}

#PlayerAndHeroName
{
	flow-children: down;
	padding-left: 8px;
}

.is_local_player #Kills,
.is_local_player #Deaths,
.is_local_player #Assists,
.is_local_player #Level,
.is_local_player #HeroName
{
	color: white;
}

.ScoreCol_TeamInfo
{
	width: 60px;
}

