@define BACKGROUND_COLOR: #000000;
@define BACKGROUND_COLOR_WHITE: #FFFF0000;

.FlyoutScoreboardRoot
{	
	horizontal-align: center;
	vertical-align: bottom;
    flow-children: down;
    /*transform: translatey( -300px );*/
    transform: translatey( 600px );
    transition-property: transform;
    transition-duration: 0.05s;
    background-image: url( "file://{images}/custom_game/flyout_scoreboard/lol_flyout_scoreboard_background.psd" );
	opacity: 0.98;
    height: 450px;
    width: 1076px;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
    transform: translatey( -300px );
}

.TeamScore
{
	horizontal-align: center;
	vertical-align: top;
	min-width: 100%;
	min-height: 100%;
}

.Sword_Icon
{	
	transform: translatex( 49.6% ) translatey( 25px );
}

.Dragon_Icon_Blue
{
	transform: translatex( 35% ) translatey( 25px );
}

.Dragon_Icon_Red
{
	transform: translatex( 60% ) translatey( 25px );
}

.Tower_Icon_Blue
{
	transform: translatex( 25% ) translatey( 20px );
}

.Tower_Icon_Red
{
	transform: translatex( 70% ) translatey( 20px );
}

.Score_Red
{
	font-size:30;
	text-align: left;
	color: #ff0000;
	horizontal-align: left;
	transform: translatex( 52% ) translatey( 20px );
}

.Score_Blue
{
	font-size:30; 
	text-align: right;
	color:#0096ff;
	horizontal-align: right;
	transform: translatex( -51% ) translatey( 20px );
}

.Dragons_Blue
{
	font-size: 26;
	text-align: left;
	color:#0096ff;
	transform: translatex( 38% ) translatey( 20px );

}
.Dragons_Red
{
	font-size: 26;
	text-align: left;
	color: #ff0000;
	transform: translatex( 63% ) translatey( 20px );

}
.Towers_Blue
{
	font-size: 26;
	text-align: left;
	color:#0096ff;
	transform: translatex( 27.5% ) translatey( 20px );

}
.Towers_Red
{
	font-size: 26;
	text-align: left;
	color: #ff0000;
	transform: translatex( 72.5% ) translatey( 20px );

}